.container{
	margin-top: 50px;
	height: 100vh;
}
.dark .accordion-card {
	margin: 0 auto;
}


.dark .accordion-header {
	width: 100%;
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	background-color: #eee;
	cursor: pointer;
	font-weight: 500;
	padding: 1.5rem;
}

.dark .accordion-header:hover {
	background: #ccc;
}

.dark .accordion-content {
	width: 100%;
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}
.dark .accordion-content .accordion-header{
	width: 100%;
}
.pink .accordion-card {
	margin: 0 auto;
}

.pink .accordion-header {
	width: 100%;
	border-bottom: 1px solid #DDE0E7;
	color: white;
	background-color:#2a313a;
	cursor: pointer;
	font-weight: 500;
	padding: 1.5rem;
}

.pink .accordion-header:hover {
	background: #ccc;
	color: black;
}

.pink .accordion-content {
	width: 100%;
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: pink;
	padding: 1.5rem;
	color:black;
}
.pink .accordion-content .accordion-header{
	width: 100%;
}

/* .accordion-header::before {
	content: '';
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
} */

.active.accordion-header {
	background-color: aqua;
}
.accordion-content a{
	text-decoration: none;
}
