{% extends "base.html" %}

{% block body %}
{% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
              {% endif %}
            
              {% if next %}
              {% if user.is_authenticated %}
                <h1>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</h1>
              {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
                {% endif %}
  
  <!-- <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
<body class="d-flex justify-content-center center-block" style="width: 100%; align-content: center;">
  <div class="container d-flex justify-content-center center-block" id="container">
      <div class="card border-secondary justify-content-center mb-3 center-block" style="max-width: 18rem;margin-top: 10rem;">
           
        <div class="card-header">Login</div>
          <div class="card-body text-secondary">
              
              <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  {{ form.username }}
                  <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  {{ form.password }}
                  <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
        
        </div>
  </div>
</body>
  
{% endblock %}