{% extends "base.html" %}
{% load static %} 
{% block head %}
    <title>Books</title>

{% endblock %}
{% block body %}
    <body class= "bg-light">
        <div class = "container pt-5">
            <div>
                <h1 class= "display-3 text-center pt-5">Mau Cari Buku Apa?</h1>
            </div>
            <div>
                <div class="form-inline justify-content-center pt-3">
                    <div class="form-group-lg mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="pencarian" placeholder="Cari">
                    </div>
                    <button type="submit" class="search btn btn-secondary">Cari</button>
                </div>
            </div>
            <div>
                <table class="table pt-5 text-center">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Penulis</th>
                        
                        <th scope="col">Terbitan</th>
                        
                        <th scope="col">Sampul</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="book">
                        
                    </tbody>
                    </table>
            </div>
        </div>
    </body>
{% endblock %}
{% block script %}
    <script src="{% static 'story8/js/ajax.js' %}"></script>
{% endblock %}