{% extends "base.html" %}
{% load static %} 
{% block head %}
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'story7/css/profile.css' %}">
{% endblock %}
{% block body %}
    <body class="bg-danger">
        <div>
            <div class="pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 text-center">
                            <img src="{% static 'story7/images/foto1.jpg' %}" alt="foto fira"  style ="width :300px; border-radius: 100%;">
                            <h2 class="text-center pt-4 pb-4 name">Shafira Ayu Maharani</h2>
                        </div>
                        <div class="col-md-8 col-sm-12 pink">
                            <div class="accordion-card">
                                <div class="accordion-header">Aktivitas Saat Ini</div>
                                <div class="accordion-content">
                                    Nugas, Makan, Tidur
                                </div>
                                <div class="accordion-header">Pengalaman Organisasi/Kepanitiaan</div>
                                <div class="accordion-content">
                                    <div class="accordion-card">
                                    <div class="accordion-header">FUKI 2019</div>
                                    <div class="accordion-content">
                                        Saya menjadi staf Biro Humas.
                                    </div>
                                    <div class="accordion-header">COMPFEST 11</div>
                                    <div class="accordion-content">
                                        Staf Software Engineering Academy
                                    </div>
                                    <div class="accordion-header">SIWAK-NG 2019</div>
                                    <div class="accordion-content">
                                        Wakil Penanggungjawab Humas dan Publikasi
                                    </div>
                                    <div class="accordion-header">Wisuda Genap</div>
                                    <div class="accordion-content">
                                        Staf LO
                                    </div>
                                    <div class="accordion-header">BETIS 2020</div>
                                    <div class="accordion-content">
                                        Wakil Penanggungjawab Dokumentasi
                                    </div>
                                    <div class="accordion-header">Grand Launching AISCO</div>
                                    <div class="accordion-content">
                                        Penanggungjawab Humas Publikasi Dokumentasi dan Dekorasi
                                    </div>
                                    </div>
                                </div>
                                <div class="accordion-header">Prestasi</div>
                                <div class="accordion-content">
                                    Coming Soon :)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    {% endblock %}
    {% block script %}
    <script src="{% static 'story7/js/profile.js' %}"></script>
    {% endblock %}