{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color:  #D7DBDD; color: #34495E; font-size: 20px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item navfont">
                <a class="nav-link" href="{% url 'landingpage:home' %}"><b>STATUS</b></a>
                </li>
                <li class="nav-item navfont">
                    <a class="nav-link" href="{% url 'profileKu:profile' %}"><b>PROFILE</b></a>
                </li>
                <li class="nav-item navfont">
                        <a class="nav-link" href="{% url 'books:books' %}"><b>BOOKS</b></a>
                    </li>
                <li class="nav-item navfont">
                        <button class="nav-link change" ><b>UBAH TEMA</b></button>
                </li>
                <li class="nav-item navfont justify-content-end">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}" ><b>LOGOUT</b></a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}" ><b>LOGIN</b></a>
                    {% endif %}
                </li>
                {% if user.is_authenticated %}
                <p>Halo, {{ user.get_username }}</p>
                {% endif %}
            </div>
        </nav>
        
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'base.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>
    