{% extends "base.html" %}
{% load static %} 
{% block head %}
        <title>Status</title>
        <link rel="stylesheet" type="text/css" href="{% static 'story7/css/profile.css' %}">
{% endblock %}
{% block body %}
    <body class = "bg-secondary">
        <div class="bg-secondary" id ="home">
                <div class="container">
                        <div id ="sayhello" class="font-weight-bold text-center text-sm-center" style ="color: whitesmoke; font-family: monospace;">
                            <div class= "pt-5"></div>
                            <div class= "pt-5"></div>
                            <h1 class="display-3"><b>Halo, Apa Kabar?</b></h1>
                            <div class= "pb-5"></div>
                            <div class= "pb-5"></div>
                        </div>
                        <div>
                            <form method="POST" action="/add_status/">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea name="status" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button type="submit" name = "submit" class="btn btn-primary btn-lg">Post</button>
                            </form>
                        </div>
                    <div class="row">
                        {% for i in statusq %}
                        {% csrf_token %}
                        <div class="col-md-3">
                            <div class="pt-5 "></div>
                            <div class ="pr-3"></div>
                            <div class="mr-3 ml-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>{{ i.status }}</h6>
                                        <p>{{ i.datetime }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-3"></div>
                        <div class = 'pb-5'></div>
                        </div> 
                        {% endfor %}         
                    </div>
                </div>
            </div>
    </body>
    {% endblock %}